/*Main*/
* {
  margin: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font: 20px Helvetica, Regular;
  font-weight: 300;
  color: #fff;
  background: #182422;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}
.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
img {
  border: 1px solid #f00;
  width: 100%;
  height: auto;
}
button {
  width: 100px;
  height: 32px;
  background: #00ede4;
  color: #000;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input {
  width: 195px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background: #fff;
}
::placeholder {
  color: #182422;
  padding-left: 0.5rem;
}
.logo {
  width: 250px;
}
.menuIcon {
  width: 50px;
  height: 50px;
}
/*Typography*/
h2 {
  font-size: 25px;
  text-align: center;
  transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
/*Header*/
header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider {
  width: 0vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider nav {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/*Footer*/
footer {
  width: 100vw;
  height: 20vh;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-top {
  font-size: 18px;
}
.footer-bottom {
  width: 90vw;
  flex-direction: row;
  margin: 0 auto;
}
/*Utilities*/
.hero {
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imggrid {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contact-details {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: -3rem;
}
.contact-highlight {
  font-weight: 400;
  text-decoration: underline;
}
#social {
  width: 80vw;
  margin: 0 auto;
}
#social img {
  width: 50px;
  height: 50px;
}
@media (min-width: 760px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  header {
    height: 15vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  header nav {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
  }
  h2 {
    text-align: left;
  }
  .menuIcon {
    display: none;
  }
  #social {
    width: 40vw;
  }
  #recent {
    width: 80vw;
    margin: 0 auto;
  }
  .imggrid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imggrid img {
    width: 200px;
    height: 200px;
  }
  .container {
    width: 80vw;
    margin: 0 auto;
  }
  .product {
    width: 200px;
    align-items: flex-start;
  }
  .map {
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
  }
  .contact-details {
    width: 685px;
    height: 200px;
    align-items: flex-start;
    text-align: left;
    margin: 0 auto;
  }
}
